# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.local

# VS Code
.vscode/
*.code-workspace

# Database
*.sqlite3